{% extends 'base.html' %}
{% block title %}
<title>Dodawanie towaru</title>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Dodawanie towaru</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Nazwa towaru"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Cena towaru"><br>
        <button class="btn btn-success" type="submit">Dodać towar</button>
        <!-- submit oznacza, że przy nacisnięciu na button będzie aktualizowała się storna internetowa oraz wszystkie dane będą wysyłane do serwerza.  -->
    </form>
</div>
{% endblock %}